/**
*
*	CSS3 Search Box
*	Created by Tom Arnfeld
*
*	URL: http://github.com/tarnfeld/CSS3-Search-Box
*	VERSION: 1.0
*
*	WWW: tarnfeld.com
*	Twitter: @tarnfeld
*
**/

body
{
	background: #FFF;
	margin: 0;
	padding: 0;
	font-family: "Lucida Grande";
}
#box
{
	width: 400px;
	background: #F4F4F4;
	height: 130px;
	border: 1px solid rgba(0, 0, 0, 0.55);
	opacity: 0.9;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -200px;
	position: absolute;
}
#box h2
{
	font-size: 16px;
	margin: 20px 0 0 20px;
	text-shadow: 0 1px 0 #E4E4E4;
}
#box p
{
	font-size: 12px;
	padding: 0 20px;
}
#box .field
{
	width: 360px;
	background: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0%, #FEFFFE),
	    color-stop(100%, #BDBDBD)
	);
	margin: 10px 0 0 20px;
	height: 25px;
	-webkit-border-radius: 25px;
}
#box .field input
{
	padding: 2px 10px 2px 25px;
	border: 0;
	height: 19px;
	-webkit-border-top-left-radius: 25px;
	-webkit-border-bottom-left-radius: 25px;
	margin: 0;
	outline: 0;
	width: 244px;
	float: left;
	background: url('magnifier.png') 7px 5px no-repeat;
	border: 1px solid #606060;
	color: #474747;
	font-size: 12px;
}
#box .field button
{
	float: left;
	background: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(100%, #C6C6C6),
	    color-stop(0%, #8F8F8F)
	);
	border: 1px solid #606060;
	width: 80px;
	padding: 4px 0 6px 0;
	-webkit-border-top-right-radius: 25px;
	-webkit-border-bottom-right-radius: 25px;
	margin: 0 0 0 -1px;
	opacity: 0.9;
	cursor: pointer;
	text-shadow: 1px 1px 0 #DBDBDB;
}
#box .field button:active
{
	opacity: 1;
	padding: 5px 0 5px 0;
}